################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

appsettings.dev.json
*.dll
*.out
*.log
*.user
*.pdb
*.log

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
.vs/
[Bb]in/
[Oo]bj/
[Ll]og/
[Pp]roperties/

Creditcoin/SDK/lib
Creditcoin/ccprocessorLinux/readme
Creditcoin/ccclient/plugins/progress.txt
Creditcoin/cctestsuite/plugins
Creditcoin/ccbe/Properties
Creditcoin/UbuntuDeployment
Creditcoin/WindowsDeployment/