################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Creditcoin/ccprocessorLinux/obj
/Creditcoin/x64/Debug
/Creditcoin/ccprocessorLinux/readme
/Creditcoin/ccprocessor/x64
/Creditcoin/ccprocessor/ccprocessor.log
/Creditcoin/ccplugin/bin
/Creditcoin/ccplugin/obj
/Creditcoin/ccgateway/bin
/Creditcoin/ccgateway/obj
/Creditcoin/ccgateway/plugins/bitcoin/bin
/Creditcoin/ccgateway/plugins/bitcoin/obj
/Creditcoin/ccgateway/plugins/ethereum/bin
/Creditcoin/ccgateway/plugins/ethereum/obj
/Creditcoin/ccclient/bin
/Creditcoin/ccclient/obj
/Creditcoin/ccclient/plugins/bitcoin/bin
/Creditcoin/ccclient/plugins/bitcoin/obj
/Creditcoin/ccclient/plugins/ethereum/bin
/Creditcoin/ccclient/plugins/ethereum/obj
/Creditcoin/.vs
/Creditcoin/ccgateway/plugins/gbitcoin.dll
/Creditcoin/ccgateway/plugins/gethereum.dll
*.dll
*.out
*.log
/Creditcoin/ccprocessor/ccprocessor.vcxproj.user
/Creditcoin/ccprocessorLinux/ccprocessorLinux.vcxproj.user
/Creditcoin/ccclient/plugins/progress.txt
/Creditcoin/UbuntuDeployment/client
/Creditcoin/UbuntuDeployment/gateway
/Creditcoin/UbuntuDeployment/DependencyLicense
/Creditcoin/ccgateway/appsettings.dev.json
/Creditcoin/ccclient/appsettings.dev.json
/Creditcoin/UbuntuDeployment
/Creditcoin/SDK/lib/Debug/sawtooth.lib
/Creditcoin/SDK/lib/Debug/libboost_thread-vc141-mt-gd-x64-1_67.lib
/Creditcoin/SDK/lib/Debug/libboost_system-vc141-mt-gd-x64-1_67.lib
/Creditcoin/SDK/lib/Debug/libboost_regex-vc141-mt-gd-x64-1_67.lib
/Creditcoin/SDK/lib/Debug/libboost_date_time-vc141-mt-gd-x64-1_67.lib
/Creditcoin/SDK/lib/Debug/libboost_chrono-vc141-mt-gd-x64-1_67.lib
/Creditcoin/SDK/lib/Debug/cryptopp-static.lib
/Creditcoin/SDK/lib/Debug/cppnetlib-uri.lib
/Creditcoin/SDK/lib/Debug/cppnetlib-server-parsers.lib
/Creditcoin/SDK/lib/Debug/cppnetlib-client-connections.lib
